* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

picture {
    display: block;
}

.borderB {
    border: 1px solid black;
}

.borderR {
    border: 1px solid white;
}

.page {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-container {
    background-color: #262626;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav_button {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.hero-bottom-container {
    background-color: #178D1D;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bottom {
    display: flex;
    gap: 1em;
    align-items: center;
}

.hero-bottom_message {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: .1em;
}

.hero-bottom_btn {
    padding: .5rem 1rem;
    border-radius: 50px;
    background-color: #178D1D;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.product-gallery-container {
    padding: 50px 0;
}

.product-gallery {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


@media screen and (min-width: 768px) {
    body {
        background-color: red;
    }
    .product-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .product-gallery_item-main {
        max-width: 450px;
    }
    
    .product-gallery_item {
        max-width: 300px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: gray;
    }
    .product-gallery_item-main {
        /* max-width: 600px;
        margin-right: 20px;
        margin-bottom: 20px; */
    }
    
    .product-gallery_item {
        /* max-width: 300px;
        margin-right: 10px; */
    }
  }
  